.row {
   display: flex;
   flex-wrap: wrap;
   margin-left: calc(-1 * $space-x);
   margin-right: calc(-1 * $space-x);
}

@for $i from 1 through 6 {
   .row-colunits-#{$i}>* {
      flex: 0 0 calc(100% / $i);
      max-width: calc(100% / $i);
   }
}

.row-no-gutter>* {
   padding-left: 0;
   padding-right: 0;
}

@each $prefix, $val in $breakpoints {
   @media (min-width: $val) {
      @for $i from 1 through 6 {
         .#{$prefix}\:row-colunits-#{$i}>* {
            flex: 0 0 calc(100% / $i);
            max-width: calc(100% / $i);
         }
      }

      .#{$prefix}\:row-no-gutter>* {
         padding-left: 0;
         padding-right: 0;
      }
   }
}


$colunits: "";

@for $i from 1 through 12 {
   $colunits: $colunits + ".colunits-#{$i}, ";
}

@each $prefix, $val in $breakpoints {
   @for $i from 1 through 12 {
      $colunits: $colunits + ".#{$prefix}\\:colunits-#{$i}, ";
   }
}

#{$colunits} {
   width: 100%;
   padding-left: $space-x;
   padding-right: $space-x;
}

@for $i from 1 through 12 {
   .colunits-#{$i} {
      flex: 0 0 calc(8.333333333333333% * $i);
      width: calc(8.333333333333333% * $i);
   }
}


@for $i from 1 through 6 {
   .offset-#{$i} {
      margin-left: calc(8.333333333333333% * $i);
   }
}


@each $prefix, $val in $breakpoints {
   @media (min-width: $val) {
      @for $i from 1 through 12 {
         $class: ".#{$prefix}\\:colunits-#{$i}";

         #{$class} {
            flex: 0 0 calc(8.333333333333333% * $i);
            width: calc(8.333333333333333% * $i);
         }
      }

      @for $i from 1 through 6 {
         .#{$prefix}\:offset-#{$i} {
            margin-left: calc(8.333333333333333% * $i);
         }
      }
   }
}