@each $prefix, $color in $colorsmap {
   .text-#{$prefix} {
      color: $color;
   }
}

$alignments: (
   left, right, center, justify
);

@each $align in $alignments {
   .text-#{$align} {
      text-align: $align;
   }
}